<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!-- The character set should be utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Enables media queries -->
	<meta name="viewport" content="width=device-width" />
	<!-- Link to the email's CSS, which will be inlined into the email -->
	<link rel="stylesheet" href="../css/styles.css" inline>
</head>


<!--
__________________________________________ВАЖНО!__________________________________________________________
Обнуление отступов
 					border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0"
Для картинок 
					alt="" border="0" width="150" height="150"

 _________________________________________________________________________________________________________
 -->



<body>



	<!--HEADER-->
	<table class="body">
		<tr background="" background-image="" bg-color="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
			<!--фон у боди задаётся здесь!-->
			<td>
				<center>

					<container>
						<!--центр-->



						<spacer size="4"></spacer>
						<row>
							<columns large="5" small="12">
								<a href=""><img class="logo" src="img/logo.png" alt=""></a>
							</columns>

							<columns class="null" large="2" small="0"></columns>

							<columns large="5" small="12">
								<p class="text-right">
									<img class="inline" src="img/kyivstar.png" alt="">
									<a class="number-link  kyivstar" href="tel:0670074455"><span class="bold"> (067)</span> 007-44-55</a>
								</p>
								<p class="text-right">
									<img class="inline " src="img/life.png" alt="">
									<a class="number-link life" href="tel:0632272756">
										<span class="bold"> (063)</span> 227-27-56</a>
								</p>
								<p class="text-right">
									<img class="inline" src="img/vodafone.png" alt="">
									<a class="number-link vodafone" href="tel:0951128288">
										<span class="bold"> (095)</span> 112-82-88</a>
								</p>
							</columns>
						</row>
						<spacer size="5"></spacer>
						<row>
							<columns class="large-12 float-center float-left " border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
								<div class="first-menu-group small-float-center">
									<a href="">
										<img class="links" width="60" height="60" src="img/01 menu.png" alt="">
									</a>
									<a href="">
										<img class="links" width="60" height="60" src="img/02menu.png" alt="">
									</a>
									<a href="">
										<img class="links" width="60" height="60" src="img/03menu.png" alt="">
									</a>
									<a href="">
										<img class="links kitchen" width="60" height="60" src="img/04 menu.png" alt="">
									</a>
								</div>
								<div class="second-menu-group small-float-center">
									<a href="">
										<img class="links" width="60" height="60" src="img/05menu.png" width="100" alt="">
									</a>
									<a href="">
										<img class="links " width="60" height="60" src="img/08 menu.png" width="100" alt="">
									</a>
									<a href="">
										<img class="links" width="60" height="60" src="img/06 menu.png" width="100" alt="">
									</a>
									<a href="">
										<img class="links last-links" width="59" height="60" src="img/07 menu.png" width="100" alt="">
									</a>
								</div>
							</columns>
						</row>
						<row>
							<img width="59" height="46" src="img/1banner.jpg" width="100" alt="">
							<spacer size="8"></spacer>
						</row>
						<row>
							<img src="img/banner.png" width="100" height="" alt="">
						</row>

						<!--центр-->
					</container>

				</center>
			</td>
		</tr>
	</table>
	<!--HEADER-->



	<!--CONTENT-->
	<table class="body">
		<tr background="" background-image="" bg-color="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
			<!--фон у боди задаётся здесь!-->
			<td>
				<center>
					<row>
						<container>
							<row>
								<columns large="12">
									<spacer size="10"></spacer>
									<h1 class="uppercase text-center small-text-center">
										Умови використання сертифікату:
									</h1>
									<ul class="list text-center small-text-left">
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">1.</span> Сертифікат діє при покупці на суму <span class="red-font bold uppercase">від 3 000 грн</span></p>
										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">2.</span> Для того щоб скористатися сертифікатом, назвіть <br> менеджеру (або в коментарі
												до замовлення) <br>
												<span class="red-font bold uppercase"> Ваш особистий промо-код </span> </p>

										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">3.</span> Використовуйте сертифікат на придбання товарів в <br> <span class="red-font bold uppercase">магазині meblis.ua</span>												</p>
										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">4.</span> Сертифікати <span class="red-font bold uppercase"> не сумуються</span>												з внутрішніми знижками
												<br> магазину
											</p>
										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">5.</span> Сертифікат <span>не підлягає</span> не підлягає обміну на еквівалентну
												<br> грошову суму
											</p>
										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">6.</span> Сертифікати <span class="red-font bold uppercase">не сумуються</span> між
												собою
											</p>
										</li>
										<li class="list-items">
											<p class="text-center small-text-left">
												<span class="red-font bold">7.</span> Cертифікат дійсний до <span class="red-font bold uppercase">30.06.17</span>
											</p>
										</li>
									</ul>
								</columns>
								<row>


									<columns class="large-12" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
										<row>
											<columns class="small-6">
												<row>
													<a href="">
														<img width="200" height="177" src="img/013.jpg" width="100" alt="">
													</a>
												</row>
											</columns>
											<columns class="small-6">
												<row>
													<a href="">
														<img width="200" height="177" src="img/014.jpg" width="100" alt="">
													</a>
												</row>
											</columns>
											<columns class="small-12">
												<row>
													<a class="small-text-center" href="">
														<img class="small-float-center" width="200" height="177" src="img/015.jpg" width="100" alt="">
													</a>
													<spacer size="5"></spacer>
												</row>
											</columns>

											<row>
												<columns class="small-6">
													<row>
														<a href="">
															<img width="200" height="177" src="img/016.jpg" width="100" alt="">
														</a>
													</row>
												</columns>
												<columns class="small-6">
													<row>
														<a href="">
															<img width="200" height="177" src="img/017.jpg" width="100" alt="">
														</a>
													</row>
												</columns>
												<columns class="small-12 ">
													<row>
														<a href="">
															<img class="small-float-center" width="200" height="177" src="img/018.jpg" width="100" alt="">
														</a>
														<spacer size="5"></spacer>
													</row>
												</columns>
											</row>
											<row>
												<columns class="small-12">
													<row>
														<a href="">
															<img class="small-float-center" width="200" height="177" src="img/019.jpg" width="100" alt="">
														</a>
													</row>
													<spacer size="5"></spacer>
												</columns>
												<columns class="small-12">
													<row>
														<a href="">
															<img class="center-discount small-float-center" width="200" height="177" src="img/020.jpg" width="100" alt="">
														</a>
													</row>
													<spacer size="5"></spacer>
												</columns>
												<columns class="small-12">
													<row>
														<a href="">
															<img class="small-float-center" width="200" height="177" src="img/021.jpg" width="100" alt="">
														</a>
														<spacer size="7"></spacer>
													</row>
												</columns>
												<p class="text-center"> Бiльше пропозицiй на нашому сайтi <a class="link-meblis" href="meblis.ua">meblis.ua</a> </p>
											</row>
										</row>
									</columns>

								</row>


							</row>

						</container>
					</row>
				</center>
			</td>
		</tr>
	</table>
	<!--CONTENT-->



	<!--FOOTER-->
	<table class="body">
		<tr background="" background-image="" bg-color="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
			<!--фон у боди задаётся здесь!-->
			<td>
				<center>

					<container bg-color="#ebebeb">
						<spacer size="10"></spacer>

						<row bg-color="#ebebeb">
							<columns>
								<p class="text-left small-text-center adress">
									ООО «Meblis» <br> г. Дніпро <br> 49069, вул. Артема 94 <br> Ціни на сайті <br>
									<span class="bold">з урахуванням ПДВ.
									 						</p>
															 <spacer size="5"></spacer>
								</columns>
								<columns>
									<p class="text-center small-text-center">
										<img class="inline" src="img/red-phone.png" alt="">
										<a class="number-link" href="tel:0443907093">
											<span class="bold"> (044)</span> 390-70-93</a>
								</p>
								<p class="text-center small-text-center">
									<img class="inline" src="img/kyivstar.png" alt="">
									<a class="number-link" href="tel:0670074455"><span class="bold"> (067)</span> 007-44-55</a>
								</p>
								<p class="text-center small-text-center">
									<img class="inline" src="img/vodafone.png" alt="">
									<a class="number-link" href="tel:0951128288">
										<span class="bold"> (095)</span> 112-82-88</a>
								</p>
								<p class="text-center small-text-center">
									<img class="inline" src="img/life.png" alt="">
									<a class="number-link" href="tel:0632272756">
										<span class="bold"> (063)</span> 227-27-56</a>
								</p>
								<spacer size="5"></spacer>
							</columns>

							<columns>
								<p class="uppercase text-center small-text-center"> приеднуйтесь <br> до нас! </p>
								<spacer size="5"></spacer>
								<row>
									<columns class="">
										<a class="small-text-center" href="">
											<img class="inline vk small-float-center" src="img/vk.png" alt="">
										</a>
										<a class="small-text-center" href="">
											<img class="inline fb small-float-center" src="img/fb.png" alt="">
										</a>
									</columns>
								</row>
							</columns>
						</row>
					</container>

				</center>
			</td>
		</tr>
	</table>
	<!--FOOTER-->



</body>

</html>